body {
  box-sizing: border-box;
  margin: auto;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

}

.nav-links {

  display: flex;
}

.nav-links li {
  list-style: none;
  padding: 16px;

}

.nav-links a {
  color: #18191F;
  text-decoration: none;
}

.btn {
  display: flex;
  gap: 15px;
  border: 2px solid white;
  padding: 15px;
  background-color: transparent;
}

.btn a {
  color: #4CAF4F;
  text-decoration: none;
  font-size: 14px;
  padding: 15px;
  border-radius: 6px;
  line-height: 20px;

}

.btn a:hover {
  color: white;
  background-color: #4CAF4F;

}


.hero-section {
  background-color: #F5F7FA;
  padding: 96px 144px;
  position: relative;
  z-index: 1;
}


.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;


}


.frame1 {
  max-width: 657px;
  height: 276px;
}

.text1 {
  font-size: 64px;
  color: #4A4A4A;
  line-height: 76px;
  font-weight: bold;
}


.sp1 {
  color: #4CAF4F;
}


.text2 {
  color: #717171;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  margin: 20px 0;
}


.btn2 {
  font-size: 16px;
  color: #FFFFFF;
  background-color: #4CAF4F;
  border: none;
  border-radius: 4px;
  padding: 14px 32px;

}


.illustration img {
  width: 391px;
  height: 407px;
  object-fit: cover;
}


.dot {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.client-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.client-logos {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.c1 {
  font-size: 36px;
  color: #4D4D4D;
  line-height: 44px;

}

.cp {
  color: #717171;
  font-size: 16px;
  line-height: 24px;
}

.community-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.c2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  color: #717171;
}

.cp2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #717171;
}

.frame4comm {
  display: flex;
  gap: 36px;
  justify-content: center;
  /* flex-wrap: wrap;  */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  background-color: #FFFFFF;
  width: 299px;
  height: 260px;
  padding: 24px 32px;
  border-radius: 8px;
  box-sizing: border-box;

}

.container img {
  width: 40px;
  height: auto;
  display: flex;
  justify-content: center;
}

.container .title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
  color: #4D4D4D;
}

.container .description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #717171;
}

.body-section {
  width: auto;
  height: 2242.4px;
  /* position: relative;  */
  top: 25px;
  left: 1px;
  padding: 48px;
}

.unlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.frame35 {
  padding-left: 30px;
}

.header {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0;
  color: #4D4D4D;
}

.paragbody {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #717171;
}

.buttbody {
  width: 151px;
  display: flex;
  height: 52px;
  padding: 14px 32px;
  gap: 10px;
  border-radius: 4px;
  background-color: #4CAF4F;
  border: none;
}

.buttbody {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
}

.achivements {

  display: flex;
  justify-content: space-between;
  padding: 64px 144px;
  background-color: #F5F7FA;

  width: 100vw;
  margin-left: calc(-50vw + 50%);

  box-sizing: border-box;

}

.achvhea {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0;
  color: #4D4D4D;

}

.sp2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0;
  color: #4CAF4F;
}

.counts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.count-grid {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.row {
  display: flex;
  gap: 40px;
}

.details {
  display: flex;
  align-items: center;
  gap: 16px;
}

.count-number {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #4D4D4D;
}

.count-label {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #717171;
}



.calendar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.customers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 64px 144px;
  background-color: #F5F7FA;

  width: 100vw;
  margin-left: calc(-50vw + 50%);
  box-sizing: border-box;
}

.frame7 {

  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #4CAF4F;
}

.frame7span {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #89939E;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 41px;
  padding-left: 0.5ch;
  margin-top: 16px;

}

.horizontal-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.horizontal-container p {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  white-space: nowrap;
  color: #4CAF4F;
  padding-top: 15px;
}

.communityupdate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 506px;
  background-color: #fff;
  box-sizing: border-box;
}

.community {
  width: 100%;
  text-align: center;
}

.headercommunity {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0;
  color: #4D4D4D;

}

.pcomm {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #717171;

}


.frame15 {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card-content {
  width: 317px;
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0px;
  border-radius: 8px;
  padding: 16px;
  background-color: #F5F7FA;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  margin: 0 20px;
  margin-top: -35px;
  position: relative;
  z-index: 1;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: relative;
  z-index: 0;
}



.card-content h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #717171;

}

.card-content a {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  color: #4CAF4F;
  text-decoration: none;
  display: block;
  text-align: center;

}

.footer-section {
  width: 100%;
  background-color: #F5F7FA;
  height: 2000px;
}

.firstfooter {
  text-align: center;
  padding: 32px 0;
}

.firstfooter h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  color: #263238;
}

.firstfooter button {
  margin-top: 24px;
  padding: 14px 32px;
  background-color: #4CAF4F;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.secondfooter {
  display: flex;
  justify-content: space-between;
  padding: 64px 165px;
  background-color: #263238;
  flex-wrap: wrap;

}

.companyinfo {
  width: 300px;
  /* color: white; */
  margin-top: 23px;
  display: grid;
  gap: 20px;
}

.companyinfo p {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0;
  color: #F5F7FA;
}

.social-icons {
  margin-top: 16px;
}

.footer-icon {
  padding: 6px;
}

.links {
  display: flex;
  gap: 80px;
}

.Col1,
.Col2,
.col3 {
  color: white;
}

.Col1 p,
.Col2 p {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}

.Col1 li,
.Col2 li {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;

}

.col3 p {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  margin-bottom: 16px;
}

.email-field {
  position: relative;
  display: flex;
  align-items: center;
}

.email-input {
  width: 255px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  border: none;
  padding: 0 12px;
  font-family: 'Inter', sans-serif;
  color: white;
}

.send-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.Col1 ul,
.Col2 ul {
  padding-left: 0;
  margin-left: 0;
}